services:
  ppc-ui:
    build:
      context: .
      dockerfile: Dockerfile
    command: npm run start
    ports:
      - 3000:3000
    env_file:
      - .env
    restart: unless-stopped
#     networks:
#       - my_shared_network

# networks:
#   my_shared_network:
#     external: true